
<header>
    <h1 id="titleName">Remember the restaurants</h1>
</header>

<div id="firstColumn" class="container">
    <ul id="neverBeen">
    {{#each places as |place|}}
        <li>
            <a href="/{{place.url}}" class="listlinks">{{place.name}}</a>
        </li>
    {{/each}}
    </ul>
    <a href="/add" id="addPlace" class = "alert-link" >Add a new place!!</a>
</div>

<div id="username">
    {{#if username}}
    <div id="usernametext">{{username}}</div>
    <a href="/logout">log out</a>
    {{/if}}
</div>

<script src='home.js'></script>
