
<header>
    <h1 id="titleName">Remember the restaurants</h1>
</header>

<div id="firstColumn" class="container">
    <ul id="neverBeen">
    {{#each places as |place|}}
        <li>
            <div>{{place.name}}</div>
            <div class="notDisplayed">{{place.address}}</div>
            <div class="notDisplayed">{{place.description}}</div>
        </li>
    {{/each}}
    </ul>
    <a href="/add" id="addPlace" class = "alert-link" >Add a new place!!</a>
</div>


<div id="popUpInfo">
    <h1 id="placeName"></h1>
    <h2 id="addresss"></h2>
    <p id="description"></p>
</div>

<div id="username">
    {{#if username}}
    <div>{{username}}</div>
    <a href="/logout">log out</a>
    {{/if}}
</div>

<script src='home.js'></script>
