<h1>Remember the restaurants</h1>

<ul>
    {{#each places as |place|}}
        <li>
            <div>{{place.name}}</div>
            <div>{{place.description}}</div>
        </li>
    {{/each}}
</ul>
