
<h1 id="placename">{{info.name}}</h1>

<div class="infofield">{{info.address}}</div>
<div class="infofield">{{info.description}}</div>

<form method="POST" action="">
    <input type="submit" value="delete place">
</form>